.DS_Store

node_modules/*
!node_modules/bin
node_modules/bin/*
!node_modules/bin/vue-cli-service
!node_modules/bin/vue-cli-service.cmd

/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
